<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<title>Backend Ninja - Signin</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Custom styles for this template -->
<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />

<link href="#" th:href="@{/css/contacts.css}" rel="stylesheet" />

</head>

<body>

	<div class="container">

		<h1>Hello, user!</h1>
		<br />
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<table class="table">
				<thead>
					<tr>
						<th>Platform</th>
						<th>ITP #</th>
						<th>Status</th>
						<th>Department</th>
						<th>Actions</th>

					</tr>
				</thead>
				<tbody>
					<tr>
						<td>UUT-SKLS-CR17</td>
						<td>CRVWAVW1325</td>
						<td><button type="button" class="btn btn-danger">
								<span class="glyphicon glyphicon-triangle-bottom"
									aria-hidden="true"></span>
							</button></td>
						<td>CLIENT</td>
						<td>
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
							</button>

							<button type="button" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
					<tr>
						<td>UUT-ICL-CR45</td>
						<td>CRVWAVW1111</td>
						<td><button type="button" class="btn btn-success">
								<span class="glyphicon glyphicon-triangle-top"
									aria-hidden="true"></span>
							</button></td>
						<td>SST</td>
						<td>
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
							</button>

							<button type="button" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
					<tr>
						<td>UUT-KBLS-CR18</td>
						<td>CRVWAVW0976</td>
						<td><button type="button" class="btn btn-danger">
								<span class="glyphicon glyphicon-triangle-bottom"
									aria-hidden="true"></span>
							</button></td>
						<td>CLIENT</td>
						<td>
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
							</button>

							<button type="button" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
					<tr>
						<td>UUT-NEON-CR17</td>
						<td>CRVWAVW6745</td>
						<td><button type="button" class="btn btn-success">
								<span class="glyphicon glyphicon-triangle-top"
									aria-hidden="true"></span>
							</button></td>
						<td>SERVER</td>
						<td>
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
							</button>

							<button type="button" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<button class="btn btn-lg btn-primary btn-block" type="submit">
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Add
			Platform
		</button>

		<button class="btn btn-lg btn-primary btn-block" type="submit">
			<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
			Logout
		</button>

	</div>


</body>
</html>