<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Backend Ninja - Add/modify Contact</title>
	
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

	<div class="jumbotron" th:object="${platformDetail}">
		<div class="container">
		
			<div class="row">
			  <div class="col-sm-12">
				<div class="card text-center">
				  <div class="card-header">
				    <span th:text="${platformDetail.platform.station}"></span>
				  </div>
				  <div class="card-body">
				    <h5 class="card-title"><span th:text="${platformDetail.platform.name}"></span></h5>
				    <p class="card-text"><span th:text="${platformDetail.platform.department}"></span></p>
				  </div>
				  <div class="card-footer text-muted">
				    Last Update Today
				  </div>
				</div>
			  </div>
			</div>
			
			<!-- Start of Row 1  -->
			<div class="row">
			
			  <div class="col-sm-6">
			  
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">PCH information:</h5>
			        <p class="card-text">
			        	<ul class="list-group">
						  <li class="list-group-item list-group-item-primary">PCH Name: <span th:text="${platformDetail.pch.pchName}"></span></li>
						  <li class="list-group-item list-group-item-primary">Visual ID: <span th:text="${platformDetail.pch.pchVisualId}"></span></li>
						  <li class="list-group-item list-group-item-primary">QDF: <span th:text="${platformDetail.pch.qdf}"></span></li>
						</ul>		        	             
			        </p>
			       
			        <a href="#" th:href="@{/admin/pchEdit?pchId=__${platformDetail.pch.pchId}__}" class="btn btn-info">Edit PCH Information</a>
			      </div>
			    </div>	
			    			    
			    
			  </div>
			  
			</div>
			
			<!-- End of Row 1  -->
			
			<!-- start of Row 2  -->
			<div class="row">
			
			  
			  <div class="col-sm-12">
			  
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">CPU's:</h5>
			      </div>
			    </div>

				<div class="card" th:each="cpu : ${platformDetail.cpus}">
				    <div class="card-header" id="headingZero">
				      <h5 class="mb-0">
				        <button class="btn btn-link" data-toggle="collapse" th:attr="data-target='#'+${cpu.cpuId}" aria-expanded="true" aria-controls="collapseZero">
				          <span th:text="'CPU Name: ' + ${cpu.cpuName}"></span>
				        </button>
				        <a href="#" class="badge badge-info">Edit CPU</a>
				      </h5>
				    </div>
				
				      <div th:attr="id=''+${cpu.cpuId}" class="collapse show" aria-labelledby="headingZero" data-parent="#accordion">
				      <div class="card-body">
				          <ul class="list-group">
						    <li class="list-group-item list-group-item-success">QDF: <span th:text="${cpu.qdf}"></span></li>
						    <li class="list-group-item list-group-item-success">Visual ID: <span th:text="${cpu.cpuVisualId}"></span></li>
						  </ul>
				      </div>
				    </div>
				</div>
		
				<div class="card">
				  <div class="card-body">
				    <a href="#" class="btn btn-primary">Add CPU</a>
				  </div>
				</div>
				 
				 
			  </div>
			
			</div>
			
			<!-- End of Row 2  -->
			<div class="row">
			
			  
			  <div class="col-sm-12">
			  
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Hard Disks:</h5>
			      </div>
			    </div>

				<div class="card" th:each="hardDisk : ${platformDetail.hardDisks}">
				    <div class="card-header" id="headingOne">
				      <h5 class="mb-0">
				        <button class="btn btn-link" data-toggle="collapse" th:attr="data-target='#'+${hardDisk.serial}" aria-expanded="true" aria-controls="collapseOne">
				          <span th:text="'Serial Disk: ' + ${hardDisk.serial}"></span>
				        </button>
				         <a href="#" th:if="${hardDisk.hold == true}" class="badge badge-success">On platform</a>
				         <a href="#" th:if="${hardDisk.hold != true}" class="badge badge-secondary">On Hold</a>
				      </h5>
				    </div>
				
				    <div th:attr="id=''+${hardDisk.serial}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
				      <div class="card-body">
				          <ul class="list-group">
						    <li class="list-group-item list-group-item-success">Type: <span th:text="${hardDisk.operatingSystem.typeSystem}"></span></li>
						    <li class="list-group-item list-group-item-success">System Name: <span th:text="${hardDisk.operatingSystem.nameSystem}"></span></li>
						  </ul>
				      </div>
				    </div>
				</div>
		
				<div class="card">
				  <div class="card-body">
				    <a href="#" class="btn btn-primary">Add Hard Disk</a>
				  </div>
				</div>
				 
				 
			  </div>
			
			</div>
			<!-- End of Row 2  -->
			
			<!-- Start row 3 -->

			<div class="row">
			
			  
			  <div class="col-sm-12">
			  
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Annotations:</h5>
			        	        
			            <div class="panel panel-white post panel-shadow" th:each="annotation : ${platformDetail.platform.annotations}">
			                <div class="post-heading">
			                    <div class="pull-left image">
			                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
			                    </div>
			                    <div class="pull-left meta">
			                        <div class="title h5">
			                            <b th:text="${annotation.user.userName}"></b>
			                        </div>
			                        <div> 
									  <h6 class="text-muted time" th:text="${#dates.format(annotation.date, 'dd-MMM-yyyy hh:MM a')}"></h6>
									</div>
			                    </div>
			                </div> 
			                <div class="post-description"> 
			                    <p th:text="${annotation.description}"></p>
			                    <button type="button" class="btn btn-info btn-sm">Edit</button>
			                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
			                    
			                </div>
			            </div>	          					
			      </div>
			      
			      <div class="card">
					  <div class="card-body">
					    <a href="#" class="btn btn-primary">Add Annotation</a>
					  </div>
				  </div>
				  
			    </div>
				 
			  </div>
			
			</div>

        <!-- End of Row 2  -->
        
		</div>
	</div>
	
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>