<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>PMV - Add/modify PCH</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

	<div class="jumbotron" th:object="${pch}">
		<div class="container">
			
			<H1>Edit PCH</H1>
			<br/>
			<div class="row">
			  <div class="col-sm-12">
				<form th:action="@{/admin/addOrEditPch}" th:object="${pch}" method="post">
				  <div class="form-row">
				  	 <div class="form-group col-md-12">
				      <input type="hidden" class="form-control" id="pchId" name="pchId" th:if="${pch == null}" th:value="0">
				      <input type="hidden" class="form-control" id="pchId" name="pchId" th:if="${pch != null}" th:value="${pch.pchId}">
				    </div>
				    <div class="form-group col-md-6">
				      <label for="pchName">Pch Name:</label>
				      <input type="text" class="form-control" id="pchName" name="pchName" placeholder="PCH Name" th:if="${pch == null}">
				      <input type="text" class="form-control" id="pchName" name="pchName" placeholder="PCH Name" th:if="${pch != null}" th:value="${pch.pchName}" required>
				    </div>
				    <div class="form-group col-md-6">
				      <label for="qdf">QDF:</label>
				      <input type="text" class="form-control" id="qdf" name="qdf" placeholder="QDF" th:if="${pch == null}">
				      <input type="text" class="form-control" id="qdf" name="qdf" placeholder="QDF" th:if="${pch != null}" th:value="${pch.qdf}" required>
				    </div>
				    <div class="form-group col-md-12">
				      <label for="pchVisualId">Visual Id:</label>
				      <input type="text" class="form-control" id="pchVisualId" name="pchVisualId" placeholder="Visual ID" th:if="${pch == null}">
				      <input type="text" class="form-control" id="pchVisualId" name="pchVisualId" placeholder="Visual ID" th:if="${pch != null}" th:value="${pch.pchVisualId}" required>
				      <br/>
				      <div  th:if="${error == 'error'}" class="alert alert-danger"><span>Upps!. Something happen!.</span></div>
				      <div  th:if="${success == 'success'}" class="alert alert-success"><span>Pch updated successfully!.</span></div>
				      <br/>
				      <button type="submit" class="btn btn-primary">Edit PCH</button>
				    </div>
				    
				  </div>
				</form>
			  </div>
			</div>
		
				  
		</div>
				 
	</div>
			
</body>
</html>