<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

	<title>PMV Application - Sign in</title>
	
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
	
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>

	<div class="jumbotron">
		<div class="container">
		
			<!-- Start of Row 1  -->
			<div class="row">
			  <div class="col-sm-12">
					<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					  <a class="navbar-brand" href="#" th:href="@{/admin/index}">PMV</a>
					  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					    <span class="navbar-toggler-icon"></span>
					  </button>
					  <div class="collapse navbar-collapse" id="navbarNav">
					    <ul class="navbar-nav">
					      <li class="nav-item">
					        <a class="nav-link" href="#">Hard Disks</a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link" href="#" th:href="@{/admin/cpu}">Cpu's</a>
					      </li>
					      <li class="nav-item active">
					        <a class="nav-link" href="#" th:href="@{/admin/pch}">Pch's<span class="sr-only">(current)</span></a>
					      </li>
					    </ul>
					  </div>
					</nav>
			  </div>
			</div>
			<!-- End of Row 1  -->
			<br/>
			<!-- Start of Row 2  -->
			<div class="row">
			
			  <div class="col-sm-12">
				<div class="card text-center">
				  <div class="card-header">
				    
				  </div>
				  <div class="card-body">
				    <h1>Hi!, <span th:text="${username}"></span></h1>
				  </div>
				  
				</div>
			  </div>
			  			
			</div>
			<!-- End of Row 2  -->
			
			<!-- start of Row 3  -->
			<div class="row">
			
			  
			<div class="col-sm-12">
			  	<br/>
				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<table class="table">
						<thead>
							<tr>
								<th>PCH Name</th>
								<th>QDF</th>
								<th>PCH Visual ID</th>
								<th>Platform</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="pch : ${pchs}">
							     <td class="align-middle" th:text="${pch.pchName}"></td>
							     <td class="align-middle" th:text="${pch.qdf}"></td>
							     <td class="align-middle" th:text="${pch.pchVisualId}"></td>
							     <td class="align-middle" th:text="${pch.platformDetail.platform.name}"></td>
							     <td>
									<a href="#" th:href="@{/admin/pchEdit?pchId=__${pch.pchId}__}">
									<button  type="button" class="btn btn-default">
										<i class="fa fa-pencil"></i>
									</button>
									</a>
		
									<button type="button" class="btn btn-danger">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
		
		
			     <div  th:if="${error == 'error'}" class="alert alert-danger"><span>Upps!. Something happen!.</span></div>
			     <div  th:if="${success == 'success'}" class="alert alert-success"><span>Pch updated successfully!.</span></div>
		
		
		
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Add
					PCH
				</button>
		
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
					Logout
				</button> 
				 
			  </div>
			
			</div>
			
			<!-- End of Row 3  -->
	
		</div>
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>

</body>
</html>