<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>

<title>PMV Application - Sign in</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Custom styles for this template -->
<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />

<link href="#" th:href="@{/css/contacts.css}" rel="stylesheet" />

</head>

<body>

	<div class="container">

		<h1>Hello, <span th:text="${username}"></span></h1>
		<br />
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<table class="table">
				<thead>
					<tr>
						<th>Platform</th>
						<th>Status</th>
						<th>Department</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="platform : ${platforms}">
					     <td class="align-middle" th:text="${platform.name}"></td>
					     <!-- IF CUSTOMER IS ANONYMOUS -->
						 <td style="padding-right: 15px;" id="status" th:if="${platform.status.toString()=='UP'}"><span th:text="Activo"></span></td>
						 <td style="padding-right: 15px;" id="status" th:if="${platform.status.toString()=='DOWN'}"><span th:text="Inactivo"></span></td>
					     <td class="align-middle" th:text="${platform.department}"></td>
					     <td>
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
							</button>

							<button type="button" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<button class="btn btn-lg btn-primary btn-block" type="submit">
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Add
			Platform
		</button>

		<button class="btn btn-lg btn-primary btn-block" type="submit">
			<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
			Logout
		</button>

	</div>


</body>
</html>