<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>

	<title>PMV Application - Update platform</title>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>

	<div class="jumbotron" th:object="${platform}">
		<div class="container">
		
			<!-- Start of Row 1  -->
			<div class="row">
			  <div class="col-sm-12">
					<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
					  <a class="navbar-brand" href="#" th:href="@{/admin/index}">PMV</a>
					  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					    <span class="navbar-toggler-icon"></span>
					  </button>
					  <div class="collapse navbar-collapse" id="navbarNav">
					    <ul class="navbar-nav">
					      <li class="nav-item">
					        <a class="nav-link" href="#">Hard Disks</a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link" href="#" th:href="@{/admin/cpu}">Cpu's</a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link" href="#" th:href="@{/admin/pch}">Pch's</a>
					      </li>
					    </ul>
					  </div>
					</nav>
			  </div>
			</div>
			<!-- End of Row 1  -->
			
			
			<!-- Start of Row 2  -->
			<div class="row">
			
			  <div class="col-sm-12">
				<div class="card text-center">
				  <div class="card-header">
				    
				  </div>
				  <div class="card-body">
				    <h1>Update Platform</h1>
				  </div>
				  
				</div>
			  </div>
			  			
			</div>
			<!-- End of Row 2  -->
			
			<!-- start of Row 3  -->
			<div class="row">
			
			  
			<div class="col-sm-12">
			  
				<form class="needs-validation" th:action="@{/admin/platform/updatePlatformDetail}" th:object="${platform}" method="POST" novalidate>
				
				  <div class="form-row">
				  
				    <div class="col-md-4 mb-3">
				      <div class="input-group">
				        <div class="input-group-prepend">
				          <span class="input-group-text" id="inputGroupPrepend">Platform ID</span>
				        </div>
				        <input type="text" class="form-control" id="platformId" name="platformId" placeholder="Platform Id" th:value="${platform.platformId}" aria-describedby="inputGroupPrepend" readonly required>
				        <div class="invalid-feedback">
				          Please write a valid platform ID.
				        </div>
				      </div>
				    </div>
				  
				    <div class="col-md-4 mb-3">
				      <div class="input-group">
				        <div class="input-group-prepend">
				          <span class="input-group-text" id="inputGroupPrepend">Name</span>
				        </div>
				        <input type="text" class="form-control" id="name" name="name" th:value="${platform.name}" placeholder="EJ: UUT-XXXX-CRXX" aria-describedby="inputGroupPrepend" required>
				        <div class="invalid-feedback">
				          Please write a valid Name.
				        </div>
				      </div>
				    </div>
				    
				    <div class="col-md-4 mb-3">
				      <div class="input-group">
				        <div class="input-group-prepend">
				          <span class="input-group-text" id="inputGroupPrepend">Station</span>
				        </div>
				        <input type="text" class="form-control" id="station" name="station" th:value="${platform.station}" placeholder="EJ: ROW2-MOD23-UUT1" aria-describedby="inputGroupPrepend" required>
				        <div class="invalid-feedback">
				          Please write a valid station.
				        </div>
				      </div>
				    </div>
				    				        
				  </div>
				  
				  
				  <div class="form-row">
				  
				    <div class="col-md-12 mb-3">
				    
					    <select class="custom-select" id="status" name="status" required>
					      <option value="">Open this select status</option>
					      <option value="UP">UP</option>
					      <option value="DOWN">DOWN</option>
					      <option value="RUNNING">RUNNING</option>
					    </select>
					    <div class="invalid-feedback">Please select status</div>
				    
				    </div>
				    
				    <div class="col-md-12 mb-3">
				    
					    <select class="custom-select" id="department" name="department" required>
					      <option value="">Open this select department</option>
					      <option value="CLIENT">CLIENT</option>
					      <option value="SST">SST</option>
					      <option value="SERVER">SERVER</option>
					    </select>
					    <div class="invalid-feedback">Please select department</div>
				    
				    </div>
				    
				  </div>
				  
				  <button class="btn btn-success" type="submit">Update platform</button>
				  
				</form>
				 
			</div>
			
			</div>
			
			<!-- End of Row 3  -->
			
			<!-- start of Row 4  -->
			<div class="row">
			
			  
			<div class="col-sm-12">
			
				<br/>
			  
			     <div  th:if="${error == 'error'}" class="alert alert-danger"><span>Upps!. Something happen!.</span></div>
			     <div  th:if="${success == 'success'}" class="alert alert-success"><span>Platform updated successfully!.</span></div>
		
				<br/>
		
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
					Logout
				</button> 
				 
			</div>
			
			</div>
			
			<!-- End of Row 4  -->

		</div>
	</div>
	
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script>
	
	(function() {
	  'use strict';
	  window.addEventListener('load', function() {
	    // Fetch all the forms we want to apply custom Bootstrap validation styles to
	    var forms = document.getElementsByClassName('needs-validation');
	    // Loop over them and prevent submission
	    var validation = Array.prototype.filter.call(forms, function(form) {
	      form.addEventListener('submit', function(event) {
	        if (form.checkValidity() === false) {
	          event.preventDefault();
	          event.stopPropagation();
	        }
	        form.classList.add('was-validated');
	      }, false);
	    });
	  }, false);
	})();
	
</script>
</body>
</html>